


/* body */
body{
    margin:10%;
    margin-right:20%;
    margin-top:5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/* text format */
h1{   
}
h2{
    font-weight: 200;
}
h3{
    font-style: italic;font-weight: 200;
}

p{
    font-size:15px;
}

/* other */
img{
    display:block;
    max-width:50%;
    height:auto;
    float:left;
    
}


div{
    padding-left:55%;
    
}